/* general rules */
html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
}

h2 {
  font-weight: 900;
  }

/* flex rules */
.flex {
  display: flex;
}

.flex-size {
  flex-grow: 1;
}

/* background color */
.bg-blue {
  background: #379699;
}
.bg-grey {
  background: #EFF0F4;
}

.bg-white {
  background: white;
}

/*font rules */
.font-white {
  color: white;
}

.font-blue {
  color: #379699;
}

a {
  text-decoration: none;
}

/* spacing rules */
.padding-sm {
  padding: 10px;
}

.padding-aside {
  padding: 10px 30px;
}

.margin-sides-sm {
  margin: 0 10px 10px 10px;
}

.width-for-aside {
  width: 23%;
}

.justify-content {
  justify-content: space-between;
}

hr {
  padding: 1px;
  background: #bbb;
}

/* Profile image rules */
.profile {
  background-image: url('userimg.jpeg');
}

.position-bottom {
  min-height: 200px;
  justify-content: center;
  align-items: flex-end;
}