

.flex {
  display: flex;
}

.bg-blue {
  background: blue;
}
.bg-grey {
  background: grey;
}

.html {
  color: grey;
}

.font-white {
  color: white;
}

.font-blue {
  color: blue;
}

.padding-sm {
  padding: 10px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

hr {
  padding: 10px;
  background: #bbb;
}

.aside-img {
  width: 100%;
  max-width: 300px;
}